@media (max-width: 1799px) {
    .hero__b-edge__txts .drk-box h4 {
        font-size: 22px;
    }
    .hero__b-edge__txts .lt-box h4 {
        font-size: 22px;
    }
}

@media (max-width: 1549px) {
    .header-logo {
        width: 93px;
    }
    .header-menu-button {
        font-size: 18.5px;
    }
    .header-section__inner {
        padding: 35px 30px 35px;
        min-height: 127px;
    }



    .offmenu-right-shape {
        width: 199px;
    }
    .offmenu-bl-shape {
        width: 240px;
    }
    .offmenu-br-shape {
        width: 1132px;
        bottom: -11px;
    }
    .offcanvas-logo {
        width: 93px;
    }
    .offcanvas-close {
        font-size: 18.5px;
    }
    .offcanvas-header {
        padding: 35px 30px 35px;
        min-height: 127px;
    }
    .mobile-menu li a .it-bars {
        width: 95px;
        margin-bottom: 12px;
    }
    .mobile-menu li a .txt h4 {
        font-size: 34px;
    }
    .mobile-menu li a .txt h3 {
        font-size: 37.5px;
    }
    .mobile-menu li a {
        padding: 22px 10px;
        gap: 17px;
    }
    .mobile-menu {
        max-width: 1000px;
    }




    .section__hd-title {
        padding-top: 49px !important;
        width: 860px;
    }
    .hero-br-shape {
        width: 30px;
    }
    .hero-logo img {
        width: 424px;
    }
    .hero__b-edge__txts {
        width: calc(50vw - 105px);
    }
    .hero__b-edge__txts .lt-box h4 {
        font-size: 18px;
    }
    .hero__b-edge__txts .drk-box h4 {
        font-size: 18px;
    }
    .hero__b-edge__txts .lt-box {
        padding: 8px 5px 5px 34px;
      }
    .hero__b-edge__txts .drk-box {
        padding: 8px 5px 30px 34px;
    }

    .bottom-navigation-button {
        gap: 14px;
        font-size: 19px;
    }
    .bottom-navigation-button .chev {
        width: 48px;
    }
    .bottom-navigation {
        padding: 33px 0;
    }
    .hero-section .bottom-navigation {
        transform: translate(-90px, 0);
    }
    .hero-tl-shape {
        width: 135px;
    }
    .hero-br-shape {
        width: 25px;
    }


    .about-section__inner {
        padding: 115px 0 112px;
    }
    .about-bl-shape {
        width: 140px;
    }
    .about-br-shape {
        width: 490px;
    }
    .about-content h4 {
        font-size: 21.2px;
        margin-bottom: 30px;
        letter-spacing: 0.3px;
    }
    .about--token-content h4 {
        font-size: 20.2px;
    }
    .about-content p {
        font-size: 18.2px;
        margin-bottom: 18px;
        padding-right: 0px;
    }
    .about-token-bar {
        margin-bottom: 23px;
    }


    .milestones-bl-shape {
        width: 46px;
    }
    .milestones-br-shape {
        width: 105px;
    }
    .milestone__single__title .txt h4 {
        font-size: 34px;
    }
    .sq-ul li {
        font-size: 17px;
        padding-left: 15px;
    }
    .milestone__single__title {
        gap: 14px;
        margin-bottom: 8px;
    }
    .sq-ul {
        gap: 3px;
    }
    .milestones-section__inner {
        padding: 130px 0 100px;
    }
    .milestone__single__body__grp h3 {
        font-size: 24px;
    }
    .milestone__single__float-at-left {
        width: 265px;
    }
    .milestones--roadmap-content .milestone__single__title {
        padding-bottom: 6px;
    }
    .roadmap-ml-shape {
        width: 205px;
    }
    .roadmap-bl-shape {
        width: 223px;
    }
    .roadmap-br-shape {
        width: 386px;
    }

    .team-content {
        --ex-width: 85px;
    }
    .team-members-row {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 60px;
    }
    .team-member__content {
        padding: 6px 0 0;
    }
    .team-member__content h4 {
        font-size: 16.5px;
        margin-bottom: 1px;
    }
    .team-member__content p {
        font-size: 16.5px;
    }
    .team-section__inner {
        padding: 130px 0 120px;
    }
    .team-section .bottom-navigation {
        transform: translate(300px, 0);
    }
    .team-bl-shape {
        width: 121px;
    }
    .team-br-shape {
        width: 48px;
        margin-bottom: -100px;
    }

    .partners-bl-shape {
        width: 137px;
      }
      .partners-br-shape {
        width: 680px;
      }
      .partners-mr-shape {
        width: 155px;
      }
      .partners-section__inner {
        padding: 120px 0;
    }
    .partners-content__top-bar {
        width: 733px;
        margin-bottom: 38px;
      }
      .partners-content__g .image {
        width: 150px;
      }
      .partners-content__g .content {
        width: 300px;
      }
      .partners-content__g .content h4 {
        font-size: 15.7px;
      }
      .partners-content__g--2 {
        margin-left: 245px;
      }
      .partners-content__g {
        gap: 22px;
        margin-bottom: 8px;
      }
      .partners-section .bottom-navigation {
        transform: translate(200px, 0);
        margin-bottom: 20px;
      }


      .input-x {
        font-size: 16px;
        padding: 4px 13px;
        border-width: 3px;
      }
      .label-x {
        font-size: 16.5px;
        margin-bottom: 6px;
      }
      .single-input-x {
        margin-bottom: 23px;
      }
      .demo-form {
        width: 460px;
      }
      .demo-section__inner {
        padding: 155px 0 65px;
      }
      .demo-bl-shape {
        width: 105px;
      }
      .demo-br-shape {
        width: 312px;
      }
      .demo-tr-shape {
        width: 312px;
        top : 155px;
      }

}


@media (max-width: 1399px) {
    .hero__b-edge__txts .drk-box h4 {
        font-size: 15px;
    }
    .hero__b-edge__txts .lt-box h4 {
        font-size: 15px;
    }
}


@media (max-width: 1199px) {
    .header-logo {
        width: 65px;
    }
    .header-menu-button {
        font-size: 14.5px;
    }
    .header-section__inner {
        padding: 20px 25px 20px;
        min-height: 80px;
    }
    .offcanvas-header {
        padding: 20px 25px 20px;
        min-height: 80px;
    }
    .offcanvas-logo {
        width: 65px;
    }
    .offcanvas-close {
        font-size: 14.5px;
    }
    .mobile-menu li a .it-bars {
        width: 65px;
        margin-bottom: 9px;
    }
    .mobile-menu li a .txt h3 {
        font-size: 28px;
    }
    .mobile-menu li a .txt h4 {
        font-size: 23px;
    }
    .mobile-menu li a {
        padding: 11px 5px;
        gap: 10px;
    }
    .mobile-menu {
        max-width: 750px;
    }
    .offcanvas-menu .offmenu {
        padding: 0 0 80px;
    }


    .hero-tl-shape {
        width: 120px;
        top: -153px;
        left: -39px;
    }
    .hero-logo img {
        width: 300px;
    }
    .bottom-navigation-button {
        gap: 9px;
        font-size: 14px;
    }
    .bottom-navigation-button .chev {
        width: 32px;
    }
    .hero__b-edge__txts .drk-box {
        padding: 6px 5px 14px 18px;
    }
    .hero__b-edge__txts .drk-box h4 {
        font-size: 13px;
    }
    .hero__b-edge__txts .lt-box {
        padding: 6px 5px 5px 18px;
    }
    .hero__b-edge__txts .lt-box h4 {
        font-size: 14px;
    }
    .hero-section__inner {
        padding: 100px 0;
    }
    



    .about-content h4 {
        font-size: 15.6px;
        margin-bottom: 25px;
    }
    .about-content p {
        font-size: 14.2px;
        margin-bottom: 10px;
    }
    .section__hd-title {
        padding-top: 26px !important;
        width: 650px;
    }
    .section__hd-title h2 {
        font-size: 22px;
        gap: 10px;
    }
    .section__hd-title h2 .number {
        font-size: 19px;
    }


    .about-bl-shape {
        width: 100px;
    }
    .about-br-shape {
        width: 390px;
    }
    .offmenu-right-shape {
        width: 85px;
    }
    .offmenu-br-shape {
        width: 900px;
        bottom: -10px;
    }
    .offmenu-bl-shape {
        width: 180px;
    }


    .hero-br-shape {
        width: 24px;
    }


    .milestone__single__title .it-bar {
        width: 65px;
        margin-top: 0px;
    }
    .milestone__single__title .txt h4 {
        font-size: 23px;
    }
    .milestone__single__title {
        font-size: 16px;
        gap: 10px;
        margin-bottom: 6px;
    }
    .sq-ul li {
        font-size: 13.5px;
        padding-left: 12px;
    }
    .sq-ul li::before {
        height: 5px;
        width: 5px;
    }
    .milestone__single {
        margin-bottom: 30px;
    }
    .milestones-section__inner {
        padding: 100px 0 100px;
    }
    .milestones-bl-shape {
        width: 42px;
    }
    .milestones-br-shape {
        width: 90px;
    }
    .roadmap-ml-shape {
        width: 125px;
    }
    .roadmap-bl-shape {
        width: 130px;
    }
    .roadmap-br-shape {
        width: 240px;
    }
    .milestone__single__body__grp h3 {
        font-size: 16px;
    }
    .milestone__single__body__grp {
        margin-bottom: 15px;
    }
    .milestone__single__float-at-left {
        width: 189px;
    }
    .milestones--roadmap-content {
        left: 84px;
    }


    .team-content {
        --ex-width: 60px;
    }
    .team-members-row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 44px;
    }
    .team-member__content h4 {
        font-size: 13.5px;
    }
    .team-member__content p {
        font-size: 13.5px;
    }
    .team-section__inner {
        padding: 80px 0 90px;
    }
    .team-bl-shape {
        width: 75px;
    }
    .team-br-shape {
        width: 23px;
    }


    .partners-content__top-bar {
        width: 530px;
        margin-bottom: 15px;
    }
    .partners-content__g .image {
        width: 100px;
    }
    .partners-content__g .content h4 {
        font-size: 13px;
    }
    .partners-content__g {
        gap: 14px;
        margin-bottom: 6px;
    }
    .partners-content__g--2 {
        margin-left: 185px;
    }
    .partners-content__g .content {
        width: 240px;
        max-width: 100%;
    }
    .partners-section__inner {
        padding: 74px 0 107px;
    }
    .partners-bl-shape {
        width: 75px;
    }
    .partners-mr-shape {
        width: 80px;
    }
    .partners-br-shape {
        width: 440px;
    }


    .input-x {
        border-width: 2px;
    }
    .single-input-x {
        margin-bottom: 15px;
    }
    .input-x-submit {
        font-size: 17px;
        padding: 17px 15px 17px 10px;
        gap: 18px;
    }
    .demo-bl-shape {
        width: 60px;
    }
    .demo-br-shape {
        width: 190px;
    }
    .demo-tr-shape {
        width: 190px;
        top: 135px;
    }
    .demo-section__inner {
        padding: 90px 0 40px;
    }
    .demo-form {
        width: 400px;
    }
    .demo-form__shape {
        width: 160px;
    }

    .team-section .bottom-navigation {
        transform: translate(230px, 0);
    }

    .partners-section .bottom-navigation {
        transform: translate(100px, 0);
        margin-bottom: 20px;
    }

    .hero-section .bottom-navigation {
        transform: translate(-50px, 0);
    }
}

@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {
    .offmenu-bl-shape {
        display: none;
    }


    .hero-section .bottom-navigation {
        padding-bottom: 145px !important;
    }
    .hero__b-edge__txts {
        width: 100%;
    }
    .hero-section__inner {
        padding: 60px 0 100px;
    }
}


@media (max-width: 991px) {
    .about-bl-shape {
        width: 40px;
    }
    .about-br-shape {
        width: 230px;
    }


    .hero-tl-shape {
        width: 80px;
        top: -120px;
        left: -26px;
    }
    .hero-br-shape {
        width: 18px;
    }


    .section__hd-title {
        padding-top: 90px !important;
    }
    .about-section__inner {
        padding: 140px 0 150px;
    }
    .bottom-navigation {
        padding: 30px 0 70px;
    }


    .offmenu-br-shape {
        right: unset;
        left: 0;
    }
    .mobile-menu li {
        width: 100%;
    }
    .mobile-menu {
        margin-left: 20px;
        align-content: unset;
    }


    .milestones-section .bottom-navigation {
        padding-bottom: 40px;
    }
    .milestones-section__inner {
        padding: 150px 0 85px;
    }
    .sq-ul li {
        white-space: normal;
    }


    .milestone__single__float-at-left {
        width: unset;
        position: static;
    }
    .milestones--roadmap-content {
        left: 0;
    }
    .roadmap-ml-shape {
        width: 50px;
    }
    .roadmap-br-shape {
        width: 140px;
    }
    .roadmap-bl-shape {
        width: 60px;
    }


    .team-section .bottom-navigation {
        padding-bottom: 40px;
    }
    .team-section__inner {
        padding: 160px 0 120px;
    }
    .team-content {
        --ex-width: 0;
    }
    

    .partners-section__inner {
        padding: 149px 0 140px;
    }
    .partners-section .bottom-navigation {
        /* padding-bottom: 37px; */
    }


    .demo-section__inner {
        padding: 150px 0 100px;
    }
    .demo-bl-shape {
        width: 37px;
    }
    .demo-br-shape {
        width: 70px;
    }
    .demo-tr-shape {
        width: 120px;
        top: 141px;
    }

    .team-section .bottom-navigation {
        transform: translate(-50%, 0);
    }
    .partners-section .bottom-navigation {
        transform: translate(-50%, 0);
        margin-bottom: 0px;
    }
}


@media (max-width: 768px) {
    .section__hd-title {
        width: 540px;
    }

    .milestones-bl-shape {
        width: 15px;
    }
    .milestones-br-shape {
        width: 25px;
    }


    .roadmap-ml-shape {
        width: 80px;
        top: 130px;
        left: unset;
        right: 0;
        transform: rotate(180deg);
    }
    .roadmap-br-shape {
        width: 100px;
        bottom: 50px;
    }


    .team-members-row {
        --bs-gutter-x: 15px;
        --bs-gutter-y: 20px;
    }
    .team-bl-shape {
        width: 30px;
    }
    .team-br-shape {
        width: 9px;
    }


    .partners-bl-shape {
        width: 42px;
    }
    .partners-br-shape {
        width: 280px;
    }
    .partners-mr-shape {
        width: 40px;
        top: 105px;
        transform: none;
    }
    .partners-content__g--2 {
        margin-left: 40px;
    }

}


@media (max-width: 575px) {
    .section__hd-title {
        width: 100%;
    }
    .header-section__inner {
        padding: 20px 15px 20px;
    }


    .offmenu-right-shape {
        width: 35px;
    }

    .hero-logo img {
        width: 250px;
    }
    .hero-tl-shape {
        width: 55px;
        top: -110px;
        left: -23px;
    }
}


@media (max-width: 390px) {
    .partners-content__g--2 {
        margin-left: 0px;
    }
}
