/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Thin.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-ThinItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-XThinItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-XThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-XThin.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-XThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-XXThin.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-XXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-XXThinItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-XXThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Black.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-BlackItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-BoldItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Bold.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Light.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-LightItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Mediu.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('webfonts/NeueHaasDisplay-Roman.woff') format('woff'),
      url('webfonts/NeueHaasDisplay-Roman.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #E51A28;
  --neueHaasGroteskDisplayPro: 'Neue Haas Grotesk Display Pro'
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--neueHaasGroteskDisplayPro);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1699px) and (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}
@media (min-width: 1700px) {
  .container {
    max-width: 860px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-section {

}
.header-section__inner {
  padding: 35px 30px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 127px;
}

.header-logo {
  width: 93px;
  display: block;
}
.header-logo img {

}
.header-menu-button {
  font-size: 18.5px;
  font-weight: 900;
  transition: .3s;
}
.header-menu-button:hover {
  color: var(--theme__color1);
}
/* header-end */





/* ---offcanvas-css--- */
.offmenu-right-shape {
  width: 199px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 100;
}
.offmenu-bl-shape {
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.offmenu-br-shape {
  width: 1132px;
  position: absolute;
  bottom: -11px;
  right: 0;
  z-index: 100;
  max-width: initial;
}
.offcanvas-header {
  padding: 35px 30px 35px;
  min-height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offcanvas-logo {
  width: 93px;
  display: block;
}
.offcanvas-logo img {

}
.offcanvas-close {
  font-size: 18.5px;
  font-weight: 900;
  transition: 0.3s;
}
.offcanvas-close:hover {
  color: var(--theme__color1);
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateY(-105%);
  transition: 400ms cubic-bezier(0.375, 0.880, 0.505, 0.910);
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  width: 100%;
  z-index: 5;
  position: relative;
  background: linear-gradient(#ECF5F4, #EDEFF0);
  height: 100%;
  padding: 0 0 110px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: column;
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 0;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mobile-menu:-webkit-scrollbar {
  display: none;
}
.mobile-menu li {
  width: 50%;
}
.mobile-menu li a {
  display: block;
  font-size: 16px;
  color: #000;
  padding: 22px 10px;
  gap: 14px;
  display: flex;
  align-items: flex-end;
}
.mobile-menu li a .it-bars {
  width: 95px;
  margin-bottom: 12px;
}
.mobile-menu li a .txt {

}
.mobile-menu li a .txt h4 {
  font-size: 34px;
  margin-bottom: 1px;
  font-weight: 700;
  font-style: italic;
  color: var(--theme__color1);
  transition: 0.3s;
}
.mobile-menu li a:hover h4 {
  color: #000;
}
.mobile-menu li a .txt h3 {
  font-size: 37.5px;
  margin: 0;
  font-weight: 900;
  transition: 0.3s;
}
.mobile-menu li a:hover h3 {
  color: var(--theme__color1);
}



.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: linear-gradient(#EDEFF0, #ECF5F4);
}
.hero-tl-shape {
	width: 183px;
	top: -203px;
	left: -49px;
	position: absolute;
  z-index: -1;
}
.hero-br-shape {
  bottom: 0;
  right: 0;
  width: 30px;
  position: absolute;
}
.hero-section__inner {
  min-height: 100vh;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-logo {
  display: block;
  display: flex;
  justify-content: center;
}
.hero-logo img {
  width: 424px;
}


.hero__b-edge__txts {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50vw - 105px);
}
.hero__b-edge__txts .lt-box {
  padding: 8px 5px 5px 34px;
}
.hero__b-edge__txts .lt-box h4 {
  font-size: 18.8px;
  font-weight: 900;
  text-transform: uppercase;
}
.hero__b-edge__txts .drk-box {
  padding: 8px 5px 30px 34px;
  background: #000;
  color: #fff;
}
.hero__b-edge__txts .drk-box h4 {
  font-size: 18.8px;
  font-weight: 900;
  text-transform: uppercase;
}




/* ---hero-section---end */


/* ---section__item--- */
.section__hd-title {
  padding-top: 49px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 860px;
  padding: 0 12px;
}
.section__hd-title h2 {
  font-size: 30px;
  gap: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
} 
.section__hd-title h2 .number {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
}


.bottom-navigation {
  padding: 33px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
}
.bottom-navigation-button {
  gap: 14px;
  font-size: 19px;
  display: flex;
  align-items: center;
  font-weight: 900;
}
.bottom-navigation-button .txt {
  
}
.bottom-navigation-button .chev {
  width: 48px;
}
/* ---section__item---end */



/* ---about-section--- */
.about-section {
  position: relative;
  z-index: 2;
  background: linear-gradient(#EDEFF0, #ECF5F4);
}
.about-bl-shape {
  width: 165px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-br-shape {
  width: 490px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.about-section__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content {

}
.about-content h4 {
  font-size: 21.2px;
  margin-bottom: 45px;
  letter-spacing: 0.3px;
  font-weight: 900;
}
.about-token-bar {
  margin-bottom: 23px;
}
.about--token-content h4 {
  font-size: 20.2px;
}
.about-content p {
  font-size: 17.5px;
  margin-bottom: 18px;
  line-height: 1.4;
  font-weight: 500;
}
/* ---about-section---end */


/* ---milestones-section--- */
.milestones-section {
  position: relative;
  background: #ECF4F4;
  overflow: hidden;
}
.milestones-bl-shape {
  width: 66px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.milestones-br-shape {
  width: 135px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.roadmap-ml-shape {
  width: 205px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.roadmap-bl-shape {
  width: 223px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.roadmap-br-shape {
  width: 386px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.milestones-section__inner {
	padding: 130px 0 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.milestones-content {

}
.milestones--roadmap-content {
  position: relative;
  left: 108px;
}

.milestones__row {

}
.milestone__single {
  margin-bottom: 41px;
}
.milestone__single__float-at-left {
  position: absolute;
  top: 0;
  right: 100%;
  width: 265px;
}
.milestone__single__title {
  font-size: 16px;
  gap: 14px;
  margin-bottom: 8px;
  color: #000;
  display: flex;
  align-items: center;
}
.milestone__single__title .it-bar {
  width: 95px;
  margin-top: 2px;
}
.milestone__single__title .it-bar .img {

}
.milestone__single__title .txt {

}
.milestone__single__title .txt h4 {
  font-size: 34px;
  font-weight: 700;
  font-style: italic;
  color: var(--theme__color1);
  transition: 0.3s;
}
.milestone__single__body {

}
.milestone__single__body__grp {
  margin-bottom: 25px;
}
.milestone__single__body__grp h3 {
  font-size: 24px;
}
.sq-ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.sq-ul li {
  font-size: 17px;
  font-weight: 500;
  padding-left: 15px;
  position: relative;
  white-space: nowrap;
}
.sq-ul li::before {
  content: '';
  height: 6px;
  width: 6px;
  display: block;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
}
/* ---milestones-section---end */



/* ---team-section--- */
.team-section {
  position: relative;
  background: #ECF4F4;
  overflow: hidden;
  z-index: 2;
}
.team-bl-shape {
  width: 121px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.team-br-shape {
  width: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.team-section__inner {
  padding: 130px 0 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.team-content {
  --ex-width: 85px;
  width: calc(100% + (var(--ex-width) * 2));
  margin-left: calc(var(--ex-width) * -1);
}
.team-members-row {
  --bs-gutter-x: 50px;
  --bs-gutter-y: 60px;
}
.team-member {

}
.team-member__image {
  width: 100%;
}
.team-member__image .img {
  width: 100%;
}
.team-member__content {
  padding: 6px 0 0;
}
.team-member__content h4 {
  font-size: 16.5px;
  margin-bottom: 1px;
}
.team-member__content p {
  font-size: 16.5px;
}
/* ---team-section---end */



/* ---partners-section--- */
.partners-section {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: linear-gradient(#EDEFF0, #ECF5F4);
}
.partners-bl-shape {
  width: 137px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.partners-br-shape {
  width: 680px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.partners-mr-shape {
  width: 155px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: -1;
}
.partners-section__inner {
	padding: 120px 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.partners-content {

}
.partners-content__top-bar {
  width: 733px;
  margin-bottom: 38px;
  max-width: 100%;
}
.partners-content__top-bar .img {
  width: 100%;
}
.partners-content__g {
  gap: 22px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.partners-content__g--2 {
  margin-left: 245px;
}
.partners-content__g .image {
  width: 150px;
  flex-shrink: 0;
}
.partners-content__g .image .img {

}
.partners-content__g .content {
  width: 300px;
}
.partners-content__g .content h4 {
  font-size: 16.2px;
  line-height: 1.2;
  font-weight: 500;
}
/* ---partners-section---end */


/* ---demo-section--- */
.demo-section {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #F7F7F8;
}
.demo-bl-shape {
  width: 105px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.demo-br-shape {
  width: 312px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.demo-tr-shape {
  width: 312px;
  position: absolute;
  top : 155px;
  right: 0;
  z-index: -1;
}
.demo-section__inner {
	padding: 130px 0 50px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.demo-content {

}
.demo-form {
  width: 460px;
  max-width: 100%;
  position: relative;
}
.demo-form__shape {
  position: absolute;
  top: 100%;
  left: 0;
  width: 205px;
}
.demo-form__main {

}

.single-input-x {
  margin-bottom: 23px;
  width: 100%;
}
.label-x {
  font-size: 16.5px;
  margin-bottom: 6px;
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  font-size: 16px;
  padding: 4px 13px;
  font-weight: 500;
  border: 3px solid black;
  width: 100%;
  resize: none;
  background: white;
}
.input-x-big {
  height: 126px;
}
.input-x-submit {
  font-size: 20px;
  padding: 21px 26px 21px 14px;
  gap: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: initial;
  transition: .3s;
}
.input-x-submit:hover {
  background: var(--theme__color1);
  border-color: transparent;
  /* color: white; */
}
.input-x-submit .chevron {
  width: 33px;
}
/* ---demo-section---end */